<!-- Header -->
<div class="header">
 <!-- Logo -->
  <a class="logo" href="/">
    <img src="logo.png" alt="Logo" />
  </a>
  <!-- Navigation -->
  <ul class="menu">
    <li>
      <a href="index">Home</a>
    </li>
      <li class="loggedOut" id="singup">
        <a href="account/create.html">Signup</a>
      </li>
      <li class="loggedOut" id="login">
        <a href="login/login.html">Login</a>
      </li>
      <li class="loggedIn">
        <a href="products/all.html">Products</a>
      </li>
      <li class="loggedIn">
        <a href="cart/cart.html">Cart</a>
      </li>
      <li class="loggedIn" id="logout">
        <a href="#" id="logoutTag"onclick="app.logout()">Logout</a>
      </li>
  </ul>

  <div class="clear"></div>
</div>
